@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

.footer {
  padding: 20px 0;
}

.footer.dark-mode {
  background-color: #1a202c; /* Tailwind's gray-900 */
  color: #a0aec0; /* Tailwind's gray-400 */
}

.footer.light-mode {
  background-color: #f7fafc; /* Tailwind's gray-100 */
  color: #2d3748; /* Tailwind's gray-800 */
}

.container {
  max-width: 1170px;
  margin: auto;
}

ul {
  list-style: none;
}

.footer-col h4 {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 15px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #E91E63;
  width: 50px;
  height: 2px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  padding-left: 7px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  margin: 0 10px 10px 0;
  line-height: 40px;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #151515;
  background-color: #FFF;
}

@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}