@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body.dark {
  @apply bg-[#282c34] text-white;
}

body.dark .border-b-2 {
  @apply border-white;
}

body.dark .text-orange-500 {
  @apply text-white;
}

body.dark .bg-white {
  @apply bg-[#282c34];
}

body.dark .hover\:bg-gray-100:hover {
  @apply bg-gray-700;
}